  :root{
	--color-primary:#e7b3ff;
	--color-primary-light:#b288c1;
	--color-primary-dark:#C23FF2;
	--color-secondary:#ff7cdc;
	--color-secondary-dark:#fc50ce;
	--default-font-size:1.6rem;
	--gutter-vertical:8rem;
	--gutter-horizontal:6rem;
}
html{
	font-size:62.5%;
}

@media only screen and (max-width: 768px){
	.html{
		font-size: 50%;
	}
}
@media only screen and (max-width: 320px){
	.html{
		font-size:35%;
	}
}
*, *::before, *::after{
	padding:0;
	margin:0;
}
body{
    background: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9);
    background-size: auto;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
}
.text-box{
	text-align: center;
	text-transform: uppercase;
	font-size: 3rem;
	letter-spacing: 3.5rem;
	color: white;
	padding: 1rem 2rem 1rem 2rem;
}
.text-lowercase{
	text-transform: none;
}

.navigation-checkbox{
	display: none;
}
.navigation-button{
	background-color: white;
	height: 7rem;
	width: 7rem;
	border-radius: 50%;
	position: fixed;
	top: 4rem;
	right: 4rem;
	z-index: 2000;
	box-shadow: 0 1rem 3rem var(--color-primary-light);
	text-align: center;
	cursor: pointer;
}
.navigation-icon{
	position: relative;
	margin-top: 3.5rem;
}
.navigation-icon::before, .navigation-icon::after{
	content: "";
}
.navigation-icon::before{
	position: absolute;
	top: -.8rem;
	left: 0;
}
.navigation-icon::after{
	position: absolute;
	top: .8rem;
	left: 0;
}
.navigation-icon, .navigation-icon:before, .navigation-icon:after{
	width: 3rem;
	height: 2px;
	background-color: var(--color-primary);
	display: inline-block;
	transition: all .2s;
}
.navigation-button:hover .navigation-icon::before{
	top: -1rem;
}
.navigation-button:hover .navigation-icon::after{
	top: 1rem;
}
.navigation-checkbox:checked + .navigation-button .navigation-icon{
	background-color: transparent;
}
.navigation-checkbox:checked + .navigation-button .navigation-icon::before{
	transform: rotate(135deg);
	top: 0;
}
.navigation-checkbox:checked + .navigation-button .navigation-icon::after{
	transform: rotate(-135deg);
	top: 0;
}
.navigation-list{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	text-align: center;
	width: 100%;
}
.navigation-item{
	margin: 1rem;
}
.navigation-nav{
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	width: 0%;
	z-index: 1500;
	transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}
.navigation-background{
	height: 7rem;
	width: 7rem;
	border-radius: 50%;
	position: fixed;
	top: 4rem;
	right: 4rem;
	background-image: radial-gradient(
		rgba(41, 152, 255, 1),
		rgba(40, 180, 133, 1));
	z-index: 1000;
	transition: transform .8s;
}
.navigation-link, .navigation-link:link, .navigation-link:visited{
	display: inline-block;
	font-size: 3rem;
	font-weight: 300;
	padding: 1rem 2rem;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
	background-size: 240%;
	transform: all .4s;
}
.navigation-link:hover, .navigation-link:active{
	background-position: 100%;
	color: rgba(41, 152, 255, 1);
	transform: translateX(1rem);
}
.navigation-checkbox:checked~.navigation-background{
	transform: scale(80);
}
.navigation-checkbox:checked~.navigation-nav{
	opacity: 1;
	width: 100%;
}



.header{
	position: relative;
	height: 80vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 70vh, 0% 100%);
    background-image: url(Images/lightstree.jpg);
    background-size: cover;
    opacity: .7;
    z-index: 100;	
    align-content: center;
}
@media only screen and (max-width: 768px){
	.header{
		height: 50vh;
	}
}

.logo{
	height: 10rem;
	border-radius: 50%;
	position: absolute;
	top: 1rem;
	animation-name: scaleUp;
	animation-duration: 3s;
	animation-timing-function: ease-in;
	z-index: 100;
}
@media only screen and (max-width: 768px){
	.logo{
		animation: none;
		transform: scale(.7);
	}
}
.header-text-box{
	position: relative;
	top: 10vh;	
	animation-name: scaleUp;
	animation-duration: 3s;
	animation-timing-function: ease-in;
}
.heading-primary-main{
	font-size: 2rem;
	letter-spacing: 2rem
}


.galaxies{
	position: relative;
	-webkit-clip-path: polygon(0 10vh, 100% 0%, 100% 70vh, 0% 100%);
	height: 70vh;
	background-image: url(Images/space.jpg);
	background-size: cover;
}
.galaxies-text-box{
	position: relative;
	top: 10vh;
	left: 2rem;
	letter-spacing: 2px;
	font-size: 2rem;
}
.heading-secondary:hover{
	transform: skewY(-3deg) skewX(10deg);
	text-shadow: .5rem 1rem 2rem rgba(0,0,0,.4);	
}
.composition{
	position: relative;
}
.composition-photo{
	border-radius: 20%;
	border: solid;
	border-color: var(--color-primary);
	border-width: .5rem;
}
.composition:hover .composition-photo:not(:hover){
	transform: scale(.9);
	opacity: 0.3;
}
.composition:hover .composition-photo:hover{
	transform: (1.5);
}
@media only screen and (max-width: 768px){
	.galaxies{
		-webkit-clip-path: none;
	}
	.galaxies-text-box{
		top: 0vh;
	}
	.composition:hover .composition-photo:not(:hover){
		transform: none;
		opacity: 1;
	}
	.composition:hover .composition-photo:hover{
		transform: none;
	}
}
@media only screen and (max-width: 320px){
	.galaxies{
		height: 150vh;
	}
}
.composition--p1{
	position: absolute;
	top: 6rem;
	left: 10%;
}
.composition--p2{
	position: absolute;
	top: 12rem;
	left: 35%;
}
.composition--p3{
	position: absolute;
	left: 35%;
}
.composition--p4{
	position: absolute;
	top: 6rem;
	left:60%;
}
@media only screen and (max-width: 320px){
	.composition--p1{
		display: none;
	}
	.composition--p4{
		display: none;
	}
}

.row:not(:last-child){
	margin-bottom: 6rem;
}
.row::after{
	content: "";
	display:table;
	clear:both;
}

.col-1-of-2:not(:last-child){
	margin-right: var(--gutter-horizontal);
}
.col-1-of-2{
	float:left;
	width: calc((100% - 6rem)/2);
	position: relative;
	top: 2vh;
}
@media only screen and (max-width: 768px){
	.col-1-of-2{
		width: 100%; 
	}
}


.stargazing{	
	position: relative;
	-webkit-clip-path: polygon(0 10vh, 100% 0%, 100% 80vh, 0% 100%);
	width: 100%;
	height: 90vh;
	background-image: url(Images/mountain.jpg);
	background-size: cover;
}
.content-text-box{
	position: relative;
	top: 5vh;
	left: 2rem;
	letter-spacing: 2px;
	font-size: 2rem;
}
.card{
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
}
.card-side{
	height: 55rem;
	width: 25%;
	backface-visibility: hidden;
	box-shadow: 0 1.5rem 4rem var(--color-primary-light);
}

@media only screen and (max-width: 1120px){
	.stargazing{
		height: 110vh;
		-webkit-clip-path: polygon(0 10vh, 100% 0%, 100% 100vh, 0% 100%);
	}
	.card-side{
		width: 90%;
		height: 25rem;
	}
}
@media only screen and (max-width: 768px){
	.stargazing{
		height: 120vh;
		-webkit-clip-path:none;
	}
	.card-side{
		height: 35rem;
	}
}
@media only screen and (max-width: 320px){
	.stargazing{
		height: 200vh;
	}
}

.card-side-front{
	position: absolute;
	top: 0;
	left: 1;
	font-size: 3rem;
	z-index: 1;
	transition: all 1s;
}
.card-side-back{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.5rem;
	z-index: 0;
	transform: rotateY(-180deg);
	transition: all 1s;
}

.card:hover .card-side-front{
	transform: rotateY(-180deg);
}
.card:hover .card-side-back{
	transform: rotateY(0deg);
}
@media only screen and (max-width: 768px){
	.card-side-back{
		transform: rotateY(0deg);
	}
	.card-side-front{
		transform: rotateY(-180deg);
	}
}
.card1{
	position: absolute;
	left: 7%;
	background: url(Images/wales.jpg);
	background-size: cover;
}
.card2{
	position: absolute;
	left: 37%;
	background: url(Images/chile.jpg);
	background-size: cover;
}
.card3{
	position: absolute;
	left: 67%;
	background: url(Images/greenland.jpg);
	background-size: cover;
}
@media only screen and (max-width: 1120px){
	.card1{
		left:5%;
	}
	.card2{
		left:5%;
		top: 25rem;
	}
	.card3{
		left:5%;
		top: 50rem;
	}
}
@media only screen and (max-width: 768px){
	.card3{
		top: 55rem;
	}
}
@media only screen and (max-width: 320px){
	.card-side{
		height: 50rem;
	}
	.card2{
		top: 40rem;
	}
	.card3{
		display: none;
	}
}

.comments{
	background: url(giphy.gif);
	height: 90vh;
	background-size: cover;
	background-position: center;
	-webkit-clip-path: polygon(0 10vh, 100% 0%, 100% 100%, 0% 100%);
	position: relative;
}
.box {
	width: 25%;
	background: rgba(255,255,255,0.2);
	padding: 3.5rem;
	border: 2px solid #fff;
	border-radius: 2rem/5rem;
	background-clip: padding-box;
	text-align: center;
}
.button {
	font-size: 1em;
	padding: 5px;
	color: #fff;
	border: 2px solid var(--color-secondary);
	border-radius: 20px/50px;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
}
.button:hover {
	background: var(--color-secondary-dark);
}
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.popup {
	margin: 7rem auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 30%;
	position: absolute;
	top: 20vh;
	left: 35%;
	transition: all 5s ease-in-out;
}
.popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
	position: absolute;
	top: 2rem;
	right: 3rem;
	transition: all 200ms;
	font-size: 3rem;
	font-weight: bold;
	text-decoration: none;
	color: var(--color-secondary);
}
.popup .close:hover {
	color: #06D85F;
}
.popup .content {
	max-height: 30%;
	overflow: auto;
	font-size: 3rem;
}
.flex{
	position: absolute;
	top: 15rem;
	display: flex;
	justify-content: space-around;
	width: 100%;
	flex-direction: row;
}
@media only screen and (max-width: 1015px){
	.comments{
		height: 125vh;
	}
	.box{
		width: 60%;
	}
	.flex{
		flex-direction: column;
		align-items: center;
	}
}
@media only screen and (max-width: 768px){
	.comments{
		-webkit-clip-path:none;
	}
}
@media only screen and (max-width: 320px){
	.comments{
		height: 170vh;
	}
	.box{
		padding: 1rem;
		border: none;
		background: none;
	}
}


.btn, .btn:link, .btn:visited{
	font-family: 'Coiny', cursive;
	display: inline-block;
	text-align: center;
	letter-spacing: 1rem;
	border-width: 1.75rem;
	background-color: var(--color-primary-light);
}
.btn:hover{
	transform: translateY(-.3rem);
}
.small-btn{
	border-width: .75rem;
}


a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}


@keyframes scaleUp{
	0%{
		transform: scale(.5);
	}
	100%{
		transform: scale(1);
	}
@keyframes skew{
	0%{
		transform: skewY(0deg) skewX(0deg);
	}
	100%{
		transform: skewY(5deg) skewX(10deg);
		text-shadow: .5rem 1rem 2rem rgba(0,0,0,.4);	
	}
}
}
